.worked-on {
    margin: 8rem 0;
}

.worked-on h1 {
    background: white;
    width: fit-content;
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: .4rem 2rem;
}



.worked-on .worked-on__cards {
    display: grid;
    grid-gap: 4rem;
}