#worked-on, #lightbox {
    background: var(--almost-white);
    padding-bottom: 8rem;
}

#worked-on__title {
    text-align: center;
}



#worked-on__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    margin: 4rem var(--content);
}



#lightbox {
    display: none;
}