.work-card-lightbox .work-card-lightbox__button {
    padding: .6rem 2rem;
    width: fit-content;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.work-card-lightbox .work-card-lightbox__button:hover {
    background: white;
    color: black;
}



.work-card-lightbox .work-card-lightbox__main {
    background: var(--jet);
    position: fixed;
    top: 100vh;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: .2s;
    overflow-x: auto
}


.work-card-lightbox .work-card-lightbox__main .work-card-lightbox__header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 2rem;
    padding: 2rem;
}

.work-card-lightbox .work-card-lightbox__main .work-card-lightbox__header .work-card-lightbox__header-tecnologies {
    display: grid;
    grid-auto-flow: column;
    grid-gap: .4rem;
    align-items: center;
    width: fit-content;
    margin-top: .4rem;
}

.work-card-lightbox .work-card-lightbox__main .work-card-lightbox__header .work-card-lightbox__header-repo {
    color: white;
    display: grid;
    grid-auto-flow: column;
    grid-gap: .4rem;
    align-items: center;
}

.work-card-lightbox .work-card-lightbox__main .work-card-lightbox__header .work-card-lightbox__go-back {
    background: white;
    color: black;
    padding: .6rem 2rem;
    width: fit-content;
    transition: .2s;
    margin: 0 -2rem;
    cursor: pointer;
}

.work-card-lightbox .work-card-lightbox__main .work-card-lightbox__header .work-card-lightbox__go-back:hover {
    background: black;
    color: white;
}



.work-card-lightbox .work-card-lightbox__main .work-card-lightbox__content {
    height: 100vh;
}