#halabalval-project__content {
    text-align: center;
    padding: 2rem var(--content);
}

#halabalval-project__content h1 {
    margin-bottom: 1rem;
}

#halabalval-project__content p {
    margin-bottom: 2rem;
}

#halabalval-project__content img {
    width: 50%;
    display: block;
    border: 2rem solid saddlebrown;
    margin: 1rem auto;
}