#hero {
    padding: 2rem 4rem;
    color: white;
    position: relative;
    height: 100vh;
    z-index: -1;
}

#hero::before {
    content: "";
    position: absolute;
    background: linear-gradient(0deg, var(--jet), rgba(0, 0, 0, 0));
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#hero::after {
    content: "";
    position: absolute;
    background: linear-gradient(45deg, var(--jet), rgba(0, 0, 0, 0));
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#hero h1 {
    font-size: 10rem;
    line-height: 1.2;
    font-weight: 400;
    width: 50%;
}

#hero h2 {
    margin-top: 2rem;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 300;
}

#hero h2 img {
    width: 4rem;
}