.social {
    background: black;
    padding: 2rem;
    display: flex;
    justify-content: center;
}



.social .social__github {
    color: white;
}

.social .social__github img {
    margin: .2rem auto;
    display: block;
}